{% extends "base.html" %}
{% block content %}
<section class="hero">
  <h1>Reset Password</h1>
</section>
<div class="container" style="max-width:400px;margin:auto;">
  <form method="POST">
    <label>New Password<br>
      <input class="input" type="password" name="password" required>
    </label><br><br>
    <label>Confirm Password<br>
      <input class="input" type="password" name="password2" required>
    </label><br><br>
    <button class="btn" type="submit">Save Password</button>
  </form>
</div>
{% endblock %}
